<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE mapper PUBLIC
				"-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.foodorder.mapper.UserMapper">

<!--  用户登录-->
<select id="login" resultType="com.neu.foodorder.entity.User">
		select * from user where username=#{username} and  password=#{password}
	</select>

<!--  用户注册-->
<insert id="register" >
          insert into user(username,password,regtime,pic,motto,target,guguid,teamid)  values(#{username},#{password},#{regtime},0,#{motto},#{target},1,1)
    </insert>

<!-- 更新用户信息 -->
<update id="updateUser" parameterType="com.neu.foodorder.entity.User">
	update user
	<set>
		<if test="password!=null and password!=''">
			password=#{password},
		</if>
		<if test="pic!=null and pic!=''">
			pic=#{pic},
		</if>
		<if test="guguid!=null and guguid!='' ">
			guguid=#{guguid},
		</if>
		<if test="teamid!=null and teamid!=''">
			teamid=#{teamid},
		</if>
		<if test="motto!=null and motto!=''">
			motto=#{motto},
		</if>
		<if test="target!=null and target!=''">
			target=#{target},
		</if>
	</set>
	where userid=#{userid}
</update>
<!-- 根据id查询用户信息，包括会员信息 -->
<select id="getUserById" resultMap="selectById">
    	select * from user where userid=#{id}
    </select>

<resultMap type="com.neu.foodorder.entity.User" id="selectById">
	<association column="vipid" property="member" select="com.neu.foodorder.mapper.MemberMapper.selectByVid"/>
</resultMap>

<!-- 获取所有用户信息 带会员信息 -->
<select id="getAllUserWithMem" resultMap="selectAllById">
    	select * from user
    </select>

<!--	根据队伍id获得同队信息-->
	<select id="getTeammates" resultMap="selectAllById">
    	select  username,guguid,motto,target from `user` WHERE teamid=#{teamid}
    </select>



<resultMap type="com.neu.foodorder.entity.User" id="selectAllById">


</resultMap>
</mapper>
